{% extends 'base.html' %}

{% block head %}
<style>
    body {
        background: linear-gradient(135deg, rgb(28, 33, 54), #121424);
    }
    table {
        border-collapse: collapse;
        background-color: white;
        border-radius: 20px;
        margin: auto;
    }
    th {
        font-size: large;
    }
    th, td {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
    }
    .parent {
        display: flex;
    }
</style>
{% endblock %}

{% block body %}
<div class="parent">
    <table>
        <tr>
            <th>Group ID</th>
            <th>Group Owner</th>
            <th>Course Code</th>
            <th>Group Name</th>
            <th>Members</th>
        </tr>
        {% for found in data %}
            <tr>
                <td>{{ found['group_id'] }}</td>
                <td>{{ found['owner'] }}</td>
                <td>{{ found['coursecode'] }}</td>
                <td>{{ found['groupname'] }}</td>
                <td>{{ found['members'] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}